/* color and font-size defining */

:root {
    --text_black_color: #252B42;
    --text_grey_color: #737373;
    --blue_color: #00A0C1;
    --yellow_color: #FFA62B;
    --light_blue_color: #8EC2F2;
    --desc_font_size: 14px;
    --title_font_size: 40px;
}

/* activating Monsterrat font family */

@font-face {
    font-family: 'Montserrat_medium';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat_semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat_bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat_extrabold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

/* creating container for the reason of margins */

.container {
    width: calc(1440px - 195px * 2);
    margin: 0 auto;
}

/* welcome page styling */

.welcome_sec {
    height: 82vh;
    background-image: url(../img/desktop_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 100px;
}

/* header styling */



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 171px;
}

/* dropdown menu in header styling */

nav.header_menu {
    width: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .7s ease-in;
}

.header_menu_list {
    list-style: none;
    width: 18vw;
    align-items: center;
    display: none;
}

.header_menu_item {
    font-size: var(--desc_font_size);
}

.header_menu_item a {
    color: var(--text_grey_color);
    text-decoration: none;
    font-family: 'Montserrat_semibold', sans-serif;
}

.header_navbar_btns {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.header_navbar_btns:hover {
    cursor: pointer;
}

.header_navbar_btns span {
    display: block;
    width: 15px;
    height: 3px;
    background-color: var(--text_grey_color);
}

.header_navbar_btns span:nth-child(2n) {
    margin-left: auto;
    width: 13px;
}

.header_navbar_btns span:last-child {
    margin-left: auto;
    width: 10px;
}

.header_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2.7vw;
    justify-content: space-between;
}

.header_icons a {
    display: flex;
    align-items: center;
}

/* welcome page info styling */

.welcome_sec_info>h1 {
    font-size: 58px;
    color: var(--text_black_color);
    font-family: 'Montserrat_extrabold', sans-serif;
}

.welcome_sec_info>p {
    font-family: 'Montserrat_medium', sans-serif;
    color: var(--text_grey_color);
}

.welcome_sec_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 31vh;
}

.welcome_sec_btns button {
    width: 185px;
    height: 48px;
    border-radius: 37px;
    border: 2px solid var(--blue_color);
    color: var(--blue_color);
    font-family: 'Montserrat_bold', sans-serif;
    font-size: var(--desc_font_size);
    background-color: transparent;
}

.welcome_sec_btns button:first-child {
    background-color: var(--blue_color);
    color: white;
}

.welcome_sec_btns button:last-child:hover {
    background-color: var(--blue_color);
    color: black;
}

/* absolute positioning because pic doesn't fit in the container */

#welcome_page_woman {
    position: absolute;
    top: 104px;
    right: 51px;
}

.welcome_sec_btns button:hover {
    transition: .3s;
    cursor: pointer;
    background-color: transparent;
    color: black;
}

/* why choose us section styling */

.why_choose>.container>h2 {
    font-family: "Montserrat_bold", sans-serif;
    font-size: var(--title_font_size);
    color: var(--text_black_color);
    text-align: center;
    margin-bottom: 15px;
}

.why_choose>.container>p {
    font-family: "Montserrat_medium", sans-serif;
    font-size: var(--desc_font_size);
    color: var(--text_grey_color);
    width: 21vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.why_choose_reasons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 225px;
}

.why_choose_reasons_item {
    height: 14vh;
    text-align: center;
    width: 14vw;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 30px;
}

.why_choose_reasons_item img {
    padding-bottom: 10px;
}

.why_choose_reasons_item:nth-child(2n) {
    background-color: var(--blue_color);
}

.why_choose_reasons_item p {
    font-family: "Montserrat_bold", sans-serif;
    font-size: 16px;
    color: var(--text_black_color);
}

#dig_mark {
    color: white;
}

/* practice_advice section styling */

.practic_advices {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.practice_advice>.container>h2 {
    font-family: "Montserrat_bold", sans-serif;
    font-size: var(--title_font_size);
    color: var(--text_black_color);
    text-align: center;
    margin-bottom: 15px;
}

.advice_container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 9vw;
}

.advice_container p {
    padding-left: 30px;
}

.practice_advice>.container>p {
    font-family: "Montserrat_medium", sans-serif;
    font-size: var(--desc_font_size);
    color: var(--text_grey_color);
    width: 21vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.advice_container p:first-child {
    color: var(--text_black_color);
    font-family: "Montserrat_bold", sans-serif;
    font-size: 16px;
    padding-bottom: 16px;
}

.advice_container p:nth-child(2n) {
    font-family: "Montserrat_medium", sans-serif;
    font-size: var(--desc_font_size);
    color: var(--text_grey_color);
    padding-bottom: 10px;
    line-height: 20px;
    /* width: 85%; */
}

.advice_container img {
    width: 230px;
}